body, html{
	background-color: #fff4db;
}
#painting{
	background-color: #f6f6f6;
	width: 1000px;
	height: 1250px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow{
	height: 400px;
}
.red{
	background-color: #ff0000;
}
.blue{
	background-color: #0000ff;
}
.yellow{
	background-color: #ffff00;
}
.black{
	background-color: #000000;
}
.right{
	float: right;
}
#divider1{
	height: 25px;
	width: 1000px;
}
#toprightcolumn{
	height: 400px;
	width: 225px;
}
.toprow2{
	height: 100px;
	width: 225px;
}
.box1{
	height: 100px;
	width: 50px;
}
.divider2{
	height: 100px;
	width: 25px;
}
.box2{
	height: 100px;
	width: 150px;
}
.divider3{
	height: 25px;
	width: 225px;
}
#box3{
	height: 150px;
	width: 225px;
}
.divider4{
	width: 25px;
	height: 400px;
}
#column2{
	height: 400px;
	width: 125px;
}
#box4{
	height: 175px;
	width: 125px;
}
#divider5{
	height: 25px;
	width: 125px;
}
#box5{
	height: 200px;
	width: 125px;
}
#box6{
	height: 400px;
	width: 150px;
}
#toprow3{
	height: 175px;
	width: 425px;
}
#box7{
	height: 175px;
	width: 350px;
}
#divider6{
	height: 175px;
	width: 25px;
}
#box8{
	height: 175px;
	width: 50px;
}
#divider7{
	height: 25px;
	width: 425px;
}
#toprow4{
	height: 200px;
	width: 425px;
}
#box9{
	height: 200px;
	width: 175px;
}
#divider8{
	height: 200px;
	width: 25px;
}
#box10{
	height: 200px;
	width: 225px;
}
#divider9{
	height: 25px;
	width: 1000px;
}
#bottomrow{
	height: 800px;
	width: 1000px;
}
#column3{
	width: 225px;
	height: 800px;
}
#column4{
	width: 225px;
	height: 375px;
}
#box11{
	width: 100px;
	height: 375px;
}
#divider10{
	width: 25px;
	height: 375px;
}
#box12{
	width: 100px;
	height: 175px;
}
#divider11{
	width: 100px;
	height: 25px;
}
#box13{
	width: 100px;
	height: 175px;
}
.divider12{
	width: 225px;
	height: 25px;
}
#box14{
	width: 225px;
	height: 100px;
}
#box15{
	width: 225px;
	height: 200px;
}
#box16{
	width: 225px;
	height: 50px;
}
#divider13{
	width: 25px;
	height: 800px;
}
#bottomrow2{
	width: 750px;
	height: 225px;
}
#bottomrow3{
	width: 450px;
	height: 225px;
}
#bottomrow4{
	width: 450px;
	height: 100px;
}
#box17{
	width: 200px;
	height: 100px;
}
#divider14{
	width: 25px;
	height: 100px;
}
#box18{
	width: 225px;
	height: 100px;
}
#divider15{
	width: 450px;
	height: 25px;
}
#box19{
	width: 450px;
	height: 100px;
}
.divider16{
	width: 25px;
	height: 225px;
}
#box20{
	width: 100px;
	height: 225px;
}
#box21{
	width: 150px;
	height: 225px;
}
#divider17{
	width: 750px;
	height: 25px;
}
#column5{
	width: 250px;
	height: 550px;
}
#box22{
	width: 250px;
	height: 175px;
}
#divider18{
	width: 250px;
	height: 25px;
}
#box23{
	width: 250px;
	height: 350px;
}
#divider19{
	width: 25px;
	height: 550px;
}
#bottomrow5{
	width: 475px;
	height: 350px;
}
#box24{
	width: 350px;
	height: 350px;
}
#divider20{
	width: 25px;
	height: 350px;
}
#box25{
	width: 100px;
	height: 350px;
}
#divider21{
	width: 475px;
	height: 25px;
}
#column6{
	width: 225px;
	height: 175px;
}
#box26{
	width: 225px;
	height: 100px;
}
#divider22{
	width: 225px;
	height: 25px;
}
#box27{
	width: 225px;
	height: 50px;
}
#divider23{
	width: 25px;
	height: 175px;
}
#box28{
	width: 225px;
	height: 175px;
}