body, html{
	background-color: #fff4db;
}
#painting{
	background-color: #f6f6f6;
	width: 1000px;
	height: 1250px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow{
	height: 400px;
}
.red{
	background-color: #ff0000;
}
.blue{
	background-color: #0000ff;
}
.yellow{
	background-color: #ffff00;
}
.black{
	background-color: #000000;
}
.right{
	float: right;
}
#divider1{
	height: 25px;
	width: 1000px;
}
#toprightcolumn{
	height: 400px;
	width: 225px;
}
.toprow2{
	height: 100px;
	width: 225px;
}
.box1{
	height: 100px;
	width: 50px;
}
.divider2{
	height: 100px;
	width: 25px;
}
.box2{
	height: 100px;
	width: 150px;
}
.divider3{
	height: 25px;
	width: 225px;
}
#box3{
	height: 150px;
	width: 225px;
}
.divider4{
	width: 25px;
	height: 400px;
}
#column2{
	height: 400px;
	width: 125px;
}
#box4{
	height: 175px;
	width: 125px;
}
#divider5{
	height: 25px;
	width: 125px;
}
#box5{
	height: 200px;
	width: 125px;
}