.wrapper{
	max-width: 80%;
	margin: 0 auto;
	background-color: #CACDE3;
	padding: 30px;
}
body{
	background-color: #DADADA;
}
h1{
	color: #B84747;
	text-align: center;
}
h2{
	text-align: center;
}
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.original{
	float: left;
	max-width: 30%;
}
.symphonysoldier{
	float: left;
	max-width: 30%;
}
.thecab{
	float: left;
	max-width: 40%;
}
.logo{
	float: left;
	max-width: 30%;
}
.ian{
	float: left;
	max-width: 90%;
}
section{
	margin: 10px;
	padding: 10px;
}
.about{
	background-color: #A2D9CE;
}
.fame{
	background-color: #D8ACAC;
}
.band{
	background-color: #A5CAA4;
}