h1{
	color: #13EFA5;
	text-align: center;
}
h2{
	color: #1331EF;
}
h3{
	color: #C013EF;
}
h4{
	color: #F7940C;
}
h5{
	color: #FF5D74;
}
body{
	color: #39CF44;
}
img{
	border:3px #FD0000 solid;
}
.childhoodpara {
	color: purple;
} 