li{
	list-style: none;
	text-align: center;
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	line-height: 75px;
	font-size: 30px;
}
article{
	background-color: blue;
}
.wrapper{
	max-width: 90%;
	margin: 0 auto;
}
.rowreverse{
	flex-wrap: row-reverse;
}